
header {
  display: block;
  vertical-align: top;
    background-color: #f1ac2b;
    color: #fff;
    /* padding: 10px; */
    text-align: center;
    margin-bottom: 10%;
    width: 100%;
    margin: 0 0 0 0;
  }
  .logo1{

    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-left: 30px;
  

  }